<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">iReader</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li class="{{activeRouteClass 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">New</a>
          </li>
          <li class="{{activeRouteClass 'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">Best</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li class="{{activeRouteClass 'listFavorites'}}">
            <a href="{{pathFor 'listFavorites'}}">
              <span title="See your favorites posts" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </a>
          </li>
          <li class="{{activeRouteClass 'postSubmit'}}">
            <a href="{{pathFor 'postSubmit'}}">
              <span title="Submit a new post" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </li>
          <li class="dropdown">
            {{> notifications}}
          </li>
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>